<head>
	<title>FireDogs</title>
	<link rel="icon" href="~/logo_.png" type="image/png">
</head>
<header class="page-header">
	<div class="header-content">
		<span class="brand-name">FireDogs</span>
	</div>
</header>
